[tools]
uv = "0.9.21"
"aqua:pre-commit/pre-commit" = "4.5.1"
python = "3.14.2"
op = "2.31.0"
node = "24"
"npm:renovate" = "42.66.9"
usage = "2.10.0"

[env]
_.path = ["{{config_root}}/node_modules/.bin"]
_.file = ["{{config_root}}/.env"]
_.python.venv = { path = ".venv", create = false } # relative to this file's directory

[settings]
python.uv_venv_auto = true
experimental = true

[tasks.venv_create]
description = "Create Python virtual environment"
run = "python -m venv .venv"
hide = true

[tasks.build_deps]
description = "Build dependencies"
depends = ["venv_create"]
run = "uv pip compile requirements.in --universal --output-file requirements.txt"
hide = true

[tasks.install_pre-commit]
description = "Install pre-commit hooks"
run = "pre-commit install --install-hooks"
hide = true

[tasks.install]
alias = "i"
depends = ["install_python", "install_node"]

[tasks.install_python]
description = "Install python dependencies"
depends = ["venv_create", "build_deps", "install_pre-commit"]
run = "uv pip sync requirements.txt"

[tasks.install_node]
description = "Install npm dependencies"
run = "npm install"

[tasks.renovate]
description = "Run Renovate"
run = "LOG_LEVEL=debug renovate --platform=local"

[hooks]
enter = "op inject -fi {{ config_root }}/.op-env -o {{ config_root }}/.env"
leave = "rm {{ config_root }}/.env"
