- name: Create MAC custom local menu files
  loop: "{{ netboot_mac_chain }}"
  become: true
  ansible.builtin.copy:
    mode: "0644"
    owner: "{{ netboot_container_user }}"
    group: "{{ netboot_container_group }}"
    content: |
      #!ipxe
      # Ansible managed

      {{ item.ipxe_content }}
    dest: "{{ netboot_base_dir }}/config/menus/local/MAC-{{ item.mac }}.ipxe"

- name: Create MAC custom menu files
  loop: "{{ netboot_mac_chain }}"
  become: true
  ansible.builtin.copy:
    mode: "0644"
    owner: "{{ netboot_container_user }}"
    group: "{{ netboot_container_group }}"
    content: |
      #!ipxe
      # Ansible managed

      {{ item.ipxe_content }}
    dest: "{{ netboot_base_dir }}/config/menus/MAC-{{ item.mac }}.ipxe"
