#jinja2:variable_start_string:'[%', variable_end_string:'%]'
#!ipxe

goto talos

:talos
set os_arch x86_64
set os_version [% netboot_talos_version %]

iseq ${os_arch} x86_64 && set os_arch amd64 ||
iseq ${os_arch} arm64 && set os_arch arm64 ||
isset ${talos_mirror} || set talos_mirror http://10.0.0.14:8080/talos/${os_version}

echo Mirror URL: ${talos_mirror}


sleep 5

echo ${cls}

goto talos_boot

:talos_boot
isset ${talos_base_url} || set talos_base_url ${talos_mirror}
set boot_params talos.platform=metal console=tty0 init_on_alloc=1 slab_nomerge pti=on consoleblank=0 nvme_core.io_timeout=4294967295 printk.devkmsg=on selinux=1
imgfree
kernel ${talos_base_url}/kernel-${os_arch} ${boot_params}
initrd ${talos_base_url}/initramfs-${os_arch}.xz
echo
echo Booting with the following kernel args:
echo ${boot_params}
echo
echo MD5sums:
md5sum kernel-${os_arch} initramfs-${os_arch}.xz
boot
